body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: blanchedalmond;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    border-radius: 10px;
    
}

.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: lightcoral;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.box .inputBox{
    position: relative;

}

.box .inputBox input{
    
    padding: 10px 0;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 30px;
    border: 1px solid blanchedalmond;
    outline-color: blue;
    
    font-family: 'Courier New', Courier, monospace;

    

}

.box .inputBox label{
    
    
    font-size: 16px;
    color: blanchedalmond  ;
 
    
    font-family: 'Courier New', Courier, monospace;

    
    

}


.box input[type="submit"]{
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-family: 'Courier New', Courier, monospace;

    background: transparent;
    outline-color: blue;
    color: #000000;
    background: #ffebcd;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;

}

.box input[type="submit"]:focus{
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-family: 'Courier New', Courier, monospace;

    background: transparent;
    outline-color: blue;
    color: #000000;
    background: #75FF75;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;

}

*/